<section id="form">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
          <div class="form-group mb-3">
            <label for="exampleInputEmail1">ADRESSE EMAIL</label>
            <input type="email" name="email" id="email" class="form-control" formControlName="email" required id="email"  placeholder="Enter email">
            
          </div>
          <div *ngIf="submitted && email.invalid" class="alert alert-danger">
            <div *ngIf="email.errors?.required">
              Votre adresse est requise ?
            </div>
            <div *ngIf="email.errors?.email">
              Adresse email n'est pas valide ?
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="exampleInputPassword1">MOT DE PASSE</label>
            <input type="password" name="password" id="password" class="form-control" formControlName="password" required name="password"  id="password" placeholder="Password">
          </div>
          <div *ngIf="submitted && password.invalid" class="alert alert-danger">
            <div *ngIf="password.errors?.required">
              Votre mot de passe est requis ?
            </div>
            <div *ngIf="password.errors?.minlength">
              Au minimum 6 caractères svp ?
            </div>
          </div>
          <button type="submit"  class="mt-4 btn btn-primary">SE CONNECTER</button>
      </form>
      
      </div>
    </div>
  </div>
</section>
